<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error-messages.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register-main.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="register-holder">
    <div class="register">
    {% from "_formhelpers.html" import render_input %}
    <form action="register" method="post">
        {{ render_input(form.email) }}
        {{ render_input(form.login) }}
        {{ render_input(form.password) }}
        <input class="button" type="submit" value="Register">
    </form>
    <form action="login" method="get">
        <input class="button" type="submit" value="Log in">
    </form>
    </div>
</div>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="error">
                <p class="message">{{ message }}</p>
            </div>
        {% endfor %}
    {% endwith %}
</body>
</html>