<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>TODO list</title>
</head>
<body>
<div class="outer">
    <div class="header">
        <div class="header-inner">
            <div class="list-title">
                <b>TODO LIST</b>
            </div>
        <div class="logout-right">
            <form class="clean" action="logout">
                <input class="logout" type="submit" value="Log out">
                <p class="logout">Log out</p>
            </form>
        </div>
        </div>
    </div>
    {% for todo in todo_list %}
    <div class="object-holder {% if not todo.integrated %}not {% endif %}integrated">


        <div class="object">
        <div {% if todo.integrated %} class="green" {% endif %}>
            {% if todo.done %}<b>Done!</b>{% else %}<b>Yet to Complete!</b>{% endif %}
            <p>{{ todo.task }}</p>
            <p>{{ todo.date }}</p>
        </div>
        </div>

            <form class="clean" action="todo/{{ todo.id }}/update" method="post">
                <input class="complete" type="submit" name="done" value="{% if todo.done %}Uncomplete{% else %}Complete{% endif %}">
                <p class="complete">{% if todo.done %}Uncomplete{% else %}Complete{% endif %}</p>
            </form>

            <form class="clean" action="todo/{{ todo.id }}/delete" method="post">
                <input class="delete" type="submit" name="delete" value="delete">
                <p class="delete">Delete</p>
            </form>

    </div>
    {% endfor %}
    <div class="object-holder add">
        <form action="todo" method="post">
            <p>Enter task to add task:</p>
            <label>
                <input type="text" name="task">
            </label>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
</body>
</html>