html {
    background-color: #444;
}

div.login-holder {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 300px;
    min-height: 400px;
    padding: 80px;
}

div.login {
    flex-direction: column;
    display: inherit;
    background-color: #bbb;
    padding: 70px;
}

input {
    margin: 3px;
    display: block;
}

label {
    padding: 5px 5px 5px 15px;
    display: block;
    margin: 10px;
    border: #999 1px solid;
}

input.button {
    width: calc(100% - 30px);
    margin: 0px 15px 20px;
    height: 3em;
}