html {
    background-color: #eee;
    min-width: 700px;
}

div {
    padding: 0;
}

p {
    margin: 0.2em;
}

div.outer {
    position: relative;
    top: 64px;
}

div.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    background-color: #ece;
    border-bottom: 4px solid #555;
    z-index: 1000;
}

div.outer {
    background-color: #aaa;
    border: 1px solid #999;
}

div.object-left {
    margin-left: 5px;
    display: flex;
    border: 1px solid #555;
    background-color: #ece;
    width: max-content;
}

div.logout-right{
    padding: 0;
    display: flex;
    width: max-content;
}

div.list-title{
    padding: 15px;
    font-size: 2em;
    width: calc(100% - 100px);
}

div.header-inner{
    padding: 0;
    display: flex;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

div.object-holder {
    min-height: 75px;
    display: flex;
    overflow: hidden;
    border-left: 5px solid #555;
    border-bottom: 5px solid #555;
    border-right: 5px solid #555;
}

div.object-holder.add{
    display: block;
}

div.object > p {
    padding-left: 10px;
}

div.integrated {
    background-color: #8b8;
}

hr {
    margin: 3px 0 3px 0;
}

div.not.integrated{
    transition: background-color 5000ms ease-in;
    background-color: #8b8;
}

form {
    display: inherit;
    border: 1px solid #ccc;
    padding: 5px;
    width: max-content;
}

input.logout {
    border: 0;
    border-left: 25px solid transparent;
    border-top: 75px solid #c44;
    background-color: inherit;
    width: 200px;
    height: 25px;
    padding: 0;
    margin: 0;
}

input.complete {
    position: absolute;
    border: 0;
    border-left: 25px solid transparent;
    border-top: 76px solid #ccc;
    background-color: inherit;
    width: 240px;
    height: 25px;
    padding: 0;
    margin: 0;
    right: 129px;
    z-index: 1;
}

input.delete {
    position: absolute;
    border: 0;
    border-left: 25px solid transparent;
    border-top: 76px solid #622;
    background-color: inherit;
    width: 150px;
    height: 25px;
    margin: 0 0 0 0;
    right: 4px;
    z-index: 1;
    padding: 0;
}

form.clean {
    padding: 0;
    border: 0;
}

p.logout {
    pointer-events: none;
    user-select: none;
    margin-top: 0.5em;
    margin-left: 55px;
    font-size: 2em;
    position: fixed;
}

p.delete {
    pointer-events: none;
    user-select: none;
    margin: 0.5em 0 0 0;
    font-size: 2em;
    right: 30px;
    position: absolute;
    z-index: 2;
}

p.complete {
    pointer-events: none;
    user-select: none;
    margin: 0.5em 0 0 0;
    right: 180px;
    font-size: 2em;
    position: absolute;
    z-index: 2;
}

div.object {
    padding: 5px 0 0 5px;
    width: 300px;
}