<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>TODO list</title>
</head>
<body>
<div class="outer">
    <div class="header">
        <b>TODO LIST</b><hr>
    </div>
    {% for todo in todo_list %}
    <div class="object-holder">

        <div class="object-left">
            <form action="todo/{{ todo.id }}/update" method="post">
                <input type="submit" name="done" value="{% if todo.done %}Uncomplete{% else %}Complete{% endif %}">
            </form>

            <form action="todo/{{ todo.id }}/delete" method="post">
                <input type="submit" name="delete" value="delete">
            </form>
        </div>

        <div class="object">
            {% if todo.done %}<b>Done!</b>{% else %}<b>Yet to Complete!</b>{% endif %}
            <p>{{ todo.task }}</p>
            <p>{{ todo.date }}</p>
        </div>

    </div>
    {% endfor %}
    <div class="add">
        <form action="todo" method="post">
            <p>Enter task to add task:</p>
            <label>
                <input type="text" name="task">
            </label>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
</body>
</html>